<h3>Privacy Policy</h3>
<p>We'll be putting up a proper privacy policy soon, but in the meantime:</p>

<ul>
    <li>We won't sell any of your details to anyone</li>
    <li>We may use the data that we track on this site for fun and interesting purposes. Nothing evil.</li>
</ul>
