<h3>Terms and Conditions of Use</h3>
<p>T&Cs go here. When we have some.</p>
<p>Until then:</p>

<ul>
    <li>Be nice, but honest</li>
    <li>Don't vandalise the content. Even if you've graffiti'd the loo of the pub.</li>
</ul>
