@import "reset.css";

/* defaults */
* { font-family:"Lucida Grande","Helvetica","Arial",sans-serif; }
body { font-size: 14px; line-height: 1.5; color: #444; background-color: #fff; }
h1, h2, h3, h4, h5, h6  { color: #900000; }
h1  {font-size: 24px;} h2  {font-size: 20px;} h3  {font-size: 16px;} h4  {font-size: 16px;} h5  {font-size: 16px;} h6  {font-size: 16px;}
p  {}
strong  { color: #900000;}

/* links */
a:link, a:visited  { color: #005128; text-decoration:none; font-weight:bold;  }
a:hover  { text-decoration:underline; }
h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited  { text-decoration: none; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover  {text-decoration: underline;}

/* containers */
#container{  }
#top{ background:url("/images/bg.png") center repeat-x; }
#pagetop{ background:url("/images/bg-page.png") repeat scroll center center transparent; }
#header{padding: 8px 12px 8px;clear:both;position:relative;z-index:10;}
#page-header{padding:6px 20px;clear:both;position:relative;z-index:10; background:url("/images/bg-page.png") repeat-x;}

.col-left { float: left; }
.col-right { float: right; }
.col-full  { clear:both; width: 700px; margin: 0 auto; }

#logo img {margin-left:12px; margin-top:-2px;  }

/* nav bar */
ul#nav { margin-top:5px; }
#nav { text-transform: uppercase; z-index:100; margin:0; padding:0; list-style:none; line-height:1; }
#nav a  { display:block; z-index:100; padding:0 10px; line-height:24px; margin-top: 2px; color:#eeeeee; }
#nav li  { float:left; width: auto; padding:2px 5px;}
#nav li:hover, #nav li.current_page_item { color: #eeeeee;  text-decoration:underline; }
#nav li li.current_page_item { color: #eeeeee; text-decoration:underline; }
#auth_nav { font-size: 12px; float: right; padding-right: 10px; color: #eeeeee; }
#auth_nav a { color: #eeeeee; }
.navsep {color:#cccccc; font-size:110%; margin:0 2px 0px 6px;}

/* sub nav bar */
#sub_nav_container{ border-bottom: 1px solid #cccccc; background-color:#eee }

#entry { margin: 30px 30px 30px 30px; }

/* content */
#content{ background-color: #ddd }
#content{ background:url("/images/pub_wallpaper.jpg") ;}

#content span.breadcrumbs { line-height:40px;}
#content span.breadcrumbs { display:block; font-size: 24px; font-weight:bold; }

.shadow {-moz-box-shadow: 4px 4px 4px #666666;-webkit-box-shadow: 4px 4px 4px #666666;box-shadow: 4px 4px 4px #666666 }

.poster_full{ background-color:#FFF; margin:0px 14px 20px 10px;padding:20px 10px 20px 10px; }
.poster_full h1 { margin:0px 0px -5px 0px; }
.poster_full h2 { margin:0px 0px -5px 0px; color: #111;}
.poster_full h2 a { color: #000;}
.poster_full ul { margin:10px; list-style-position:inside; }
.poster_full li { list-style-type: disc;}


#footer{ padding: 30px 0; border-top: 3px solid #EEE; height:160px; }
#footer div.center { margin:0 auto; text-align: left; width: 960px; text-align: center; }
#footer a.footlink { color: #999;  }
.footer_group { float: left; margin: min-height:114px; width:186px; text-align:left; }
.footer_group li { list-style-type: none; font-size:12px; padding:2px 0px; }
.footer_group  a:hover  { text-decoration: none; }
.footer_group li a:hover { text-decoration: underline; }
.footer_group  .title { font-size: 12px; color:#888; font-weight:bold; text-transform:uppercase; }
#footer  .border { border-bottom: 1px solid #DDD; }
.footer_copyright { font-size: 10px; text-align:center; margin:160px 20px 10px 0px;}

/* locations */
#location_box { border: 1px dotted #000; margin: 5px; padding: 10px; }
.org { font-weight:bold; }

#address { background-color: #ddd; padding: 5px; }
