<h1>Your current location</h1>

<p>
<% if session[:user_location] -%>
    We think you are at <%= Location.find(session[:user_location]).name -%>
<% else -%>
    We've got no idea where you are. Why not <%= link_to 'select a pub', locations_path %>
<% end -%>
</p>

<br />

