<h1>Your current location</h1>

<p>
<% if current_location -%>
    We think you are at <%= current_location.name -%>. 
    Is this correct? If not, <%= link_to 'select a new one', locations_path %>
<% else -%>
    We've got no idea where you are. Why not <%= link_to 'select a pub', locations_path %>
<% end -%>
</p>

<br />

