<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @user_location.location_id %>
</p>


<%= link_to 'Edit', edit_user_location_path(@user_location) %> |
<%= link_to 'Back', user_locations_path %>
