<div class="block">
    <h1>Rate your Roast!</h1>
    <p>If you're like us, you love to sit in a pub on a Sunday afternoon, ask a nice barperson to make you a <strong>Bloody Mary</strong>, and peruse the Sunday Roast menu for something to make it just that little bit easier to think about going back to work tomorrow.</p>

    <p>
    The problem we've always found is - where is that special place? Pubs change hands, chefs move on, and sometimes you just need something different from your regular haunt. An embarrassing situation occurred on the Saturday night perhaps?
    </p>

    <p>
    So, here's Rate your Roast. We hope that it will make <%= link_to 'finding these special places easier', find_path %>, and help you let everyone else know that The Lions Head <%= link_to 'does a smashing roast', rate_path %> even at 10pm in the evening. And the barmaid's cute too.
    </p>
</div>
