<div class="block">
<h3>City Details</h3>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<% if current_user and current_user.is_city_moderator? -%>
<%= link_to 'Edit', edit_city_path(@city) %> |
<% end -%>
<%= link_to 'Back', cities_path %>
</div>
